*.ibc
/IdrisTddNotes

.stack-work/
*~

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
.HTF/

.idea/
*.iml

temp
temp*.md
Temp*.hs
Temp*.idr

*.sh
